<div id="MODAL_TEXT" class="modal hide fade largePreview" tabindex="-1"
 role="dialog" aria-labelledby="PREVIEWLABEL" aria-hidden="true"
 style='height: 500px; width: 900px; overflow: hidden'>
 <div class="modal-header">
  <button id='modal-dismiss' type="button" class="close"
   data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 id="PREVIEWLABEL"
   style='overflow-x: hidden; overflow-y: hidden; white-space: nowrap;'></h3>
  <div id="AUTOREFRESH" style='position: absolute' title='Auto refresh'
   rel='right_tooltip'>
   <input id="AUTOREFRESHCHECKBOX" type="checkbox" value="value1"
    checked="checked">
  </div>
 </div>
 <div class="modal-body"
  style='padding: 0px; overflow: hidden; max-height: 100%;'>
  <div id='TEXT_PREVIEW' class="previewRenderer textPreview"
   style='height: 451px; width: 100%;'>
   <div id="PREVIEWSLIDER"></div>
   <pre id='textPreview'> </pre>
   <div id='TL_OVER'>
    Retrieving data <i class="icon-refresh icon-white rotating_class"></i>
   </div>
  </div>
 </div>
</div>