<div id="MODAL_PLUGIN" class="modal hide fade xLargePreview" tabindex="-1"
 role="dialog" aria-labelledby="PREVIEWLABEL" aria-hidden="true"
 style='overflow: hidden'>
 <div class="modal-header">
  <button id='modal-dismiss' type="button" class="close"
   data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 id="PREVIEWLABEL"
   style='overflow-x: hidden; overflow-y: hidden; white-space: nowrap;'></h3>
 </div>
 <div class="modal-body"
  style='padding: 0px; max-height: 100%;'>
  <div id='PLUGIN_PREVIEW' style='width: 100%;'>
   <div id='TL_OVER'>
    Retrieving data <i class="icon-refresh icon-white rotating_class"></i>
   </div>
  </div>
 </div>
</div>